

%div.grid_5.push_1.landing-box
  %h1
    Find the right learning path to master
    %strong anything!

  %iframe{:src => "http://www.youtube.com/embed/6vMO3XmNXe4",
      :title => "YouTube video player"}

%div.grid_5.push_1.landing-box

  = render "shared/user_new"



