
%div.container

  %div.float_left_home
    %iframe{:allowscriptaccess => "always", :allowFullScreen => "true",
      :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/6vMO3XmNXe4",
      :title => "YouTube video player", :width => "100%"}

  %div.float_right_home
    %h1
      Welcome to Pahths
      %h2
        This is the home page for the
        %a{:href => "http://wikipedia.org/"} Wikipedia on Rails
        platform!


