= provide(:title, @pahth.title)

%div.container

  %section.center.beauty-blue
    %h1
      = @pahth.title
      %h2
        = @pahth.pahth_tipo
        %h4.center


  %div.half-split-left.semi-tall.top-margin
    %h1 To Dos

  %div.half-split-right.semi-tall.top-margin
    %h3 Steps Feed
    = render 'shared/p_steps_feed'
