@import "bootstrap";


/* variables */

$beauty_blue0: #1826b0;
$beauty_blue1: #4a96f2;
$beauty_blue2: #B2E8F2;
$beauty_blue2: #B2E8F2;
$beauty_blue3: #e8f9ff;
$beauty_blue4: #A2DCEA;


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 125px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  font-family: "Times New Roman";
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  a {
    color: #ffffff;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar {
  .navbar-inner {
    background-color: $beauty_blue1;
    background-image: none;
    li > a {color: #E0FFFF;}
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* pahths */

.pahths {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


/* home */

.half-split-left {
  float:left;
  width:42%;
  margin:auto;
  padding: 30px;
  vertical-align: middle;
  overflow:auto;
}

.half-split-right {
  float:right;
  width:42%;
  margin:auto;
  padding: 30px;
  overflow:auto;
}

.beauty-blue {
  background-color: $beauty_blue3;
}

.text-center{
  text-align:center;
}

.bold{
  font-weight:bold;
}

.semi-tall {
  height:600px;
}

.add-steps {
  text-align: center;
  width: 70%;
}

.top-margin{
  margin-top:30px;
}

.float-right{
  text-align: right;
}

.color-blue0{
  color: $beauty_blue0;
}

.color-blue1{
  color: $beauty_blue1;
}

.color-blue2{
  color: $beauty_blue2;
}

.color-blue3{
  color: $beauty_blue3;
}

/* Select boxes */

.styled-select select {
  background: transparent;
  width: 100%;
  padding: 5px;
  line-height: 1;
  height: 34px;
  -webkit-appearance: none;
}


/* Navbar aside */

.left-menu{
  position: absolute;
  left:15px;
  top:120px;
  font-size: 1.3em;
  padding-top: 50px;
  padding-left: 20px;
  float: left;
  width: 20%;
  .nav-header{
    font-size: 1.0em;
  }

}


.main-position{
  position: absolute;
  left:250px;
  top:150px;
}