%header

  %div.container_12

    %div.grid_2#logo
      %a{:href => root_path}<
        %span> learn
        %span.blue-2 paths

    %div.grid_3.push_7
      %nav.nav-header
        %ul
          - if current_user
            %li= link_to "Edit Profile", edit_user_path(current_user.id)
            %li= link_to "Log Out", :logout
          - else
            %li= link_to "Log In", :login


