%div.tabbable.tabs-left.left-menu
  %ul.nav.nav-tabs
    %li.nav-header Learn
    %li= link_to "My Paths", '#'
    %li= link_to "My Steps", '#'
    %li.nav-header Teach
    %li= link_to "Create Path", new_pahth_path
    %li= link_to "Teaching Paths", manage_pahths_user_path(current_user)



